/* =========== TEMPORARY =========== */
.fas {
    font-size: 20px;
}

/* =========== MAIN =========== */
/* MARK: setup default */
* {
    margin: 0;
    font-family: Helvetica;
}

/* MARK: setup body */
body {
    background: rgba(250, 250, 250, 1);
}

body.nightMode {
    background: rgba(20, 20, 20, 1);
}

/* ========= SCROLLBAR ========= */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    width: 5px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

/* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.5);
    }

/* ========= TOP NAVIGATION BAR ========= */
.topNavBar {
    background-color: rgba(200, 20, 20, 1);
    color: 			  rgba(255, 255, 255, 1);
    height: 		  50px;
    width: 			  100%;

    position: fixed;
    top: 	  0px;
    z-index:  1;
    
    display: 	     flex;
    justify-content: center;
    align-items: 	 center;

    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in-out;
}

.topNavBar.nightMode {
    background-color: rgba(100, 20, 20, 1);
    color:            rgba(100, 100, 100, 1);
}

/* righthand section*/
.topNavBar rhs {
	position: absolute;
	right: 	  0;
	width:    auto;
	height:   100%;
	
	margin-right: 10px;
}

/* lefthand section*/
.topNavBar lhs {
	position: absolute;
	left: 	  0;
	width:    auto;
	height:   100%;
	
	margin-left: 10px;
}

#logoContainer{
    width:  auto;
    height: 100%;
	
	font-family: 	 Helvetica;
    color: 			 rgba(250, 250, 250, 1);
    font-size: 		 16px;    
    font-weight: 	 medium;
    text-decoration: none;
	
    cursor: pointer;
}

#opLogoIcon {
	margin-right: 5px;
	margin-left:  10px;
}

.navBarButton {
	height: 50px;
	width:  50px;
	
    background: none;
    border: 	none;
    color: 		rgba(250, 250, 250, 1);
	
	cursor: pointer;
}

/* Search bar */
.topNavBar input[type=text] {
	width: 50vw;
	height: auto;
    background-color: rgba(0, 0, 0, 0.2);
	padding: 6px;
	border: none;
	
	padding-left: 30px;	
	padding-right: 30px;
	
	font-size: 14px;
	font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.searchButton {
    background: rgba(200, 20, 20, 1);
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;    
    cursor: pointer;
    z-index: 1;
}

#search {
	margin-right: -25px;
}

#bookmark {
	margin-left: -25px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	/*color: rgba(200, 20, 20, 1);*/
	/*opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	/*color: rgba(200, 20, 20, 1);*/
}

::-ms-input-placeholder { /* Microsoft Edge */
    /*color: rgba(200, 20, 20, 1);*/
}


/* ========= SIDE NAVIGATION BAR ========= */
.sideNavBar {
	/*display:    none;*/
	background: rgba(150, 20, 20, 1);
    height:     100%;
    width:      0px;
    z-index:    2;
	
    position:  fixed;
    top:       0px;
	
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    overflow-x: hidden;
	transition: 0.2s;
}

#menuBar {
    left:    0px;
}

#userBar {
    right:   0px;
}

.sideNavBar header {
	display: block;
	
	height: 50px;
	width:  100%;
	
	margin-left:   10px;
	margin-right:  10px;
	
    color:  			 rgba(250, 250, 250, 1);
    font-family: 	 Helvetica;
    font-weight: 	 medium;
    font-size: 		 14px;
    text-decoration: none;
}

.userBarUsername {
	grid-area: username;
	
    font-weight: bold;
	text-align:  left;
	margin-top:  10px;
}

.userBarMail {
	grid-area: mail;
	
	text-align: left;
	margin-bottom: 5px;
}

.userBarExit {
	grid-area: exitButton;
	
	background: 		 none;
	border: 			 none;
	color:  			 rgba(250, 250, 250, 1);
    font-family: 	 Helvetica;
    font-weight: 	 medium;
    font-size: 		 14px;
    text-decoration: none;
	cursor: 			 pointer;
	
	margin-right: 20px;
}

.sideNavBar userSection {
	display: inline-grid;
	grid-template-areas:
    'profilePicture username username username exitButton'
    'profilePicture mail 	 mail     mail     exitButton';
	
	height: 50px;
	width:  100%;
	
	margin-left:   10px;
	margin-right:  10px;
	
    color:  			 rgba(250, 250, 250, 1);
    font-family: 	 Helvetica;
    font-weight: 	 medium;
    font-size: 		 14px;
    text-decoration: none;
}

.sideBarSectionTitle {
	color:  			 rgba(250, 250, 250, 1);
    font-family: 	 Helvetica;
    font-weight: 	 bold;
    font-size: 		 13px;
    text-decoration: none;
	
    margin-top: 	   30px;
    margin-left:   25px;
    margin-bottom: 16px;
}

.sidebarCell {
    display: flex;
    height:  60px;
	color: 			 rgba(250, 250, 250, 1);
    font-family: 	 Helvetica;
    font-weight: 	 medium;
    font-size: 		 14px;
    text-decoration: none;
	
    align-items:   center;
	padding-left:  25px;
}

.sectionText {	
	margin-left: 20px;	
}

.sidebarCell:hover {
    background: rgba(190, 13, 33, 1);
}

.sidebarCell:active {
    background: rgba(190, 13, 33, 1);
}

.sidebarOpen {
    left: 0;
    transform: translateX(0px);
    opacity: 1; 
}

.sidebarSeperator {
    background-color: rgba(190, 13, 33, 1);
    height: 			  1px;
	margin: 0px 0px 0px 0px;
    border: none;
}

.fogScreen {
	display: 		  none;
    background-color: rgba(0, 0, 0, 0.8);
	width:  			  100%;
	height: 			  100%;
	
	z-index:  1;
	position: absolute;
	top:		  0;
	left:	  0;
	
	transition: 2s;
}

/* ====================== USERBAR ====================== */
/* MARK: setup sidebar */
.userbar {
    z-index: 2;
    height: 100%;
    width: 230px;
    background: rgba(250, 250, 250, 1);
    color: white;

    position: fixed;
    top: 0;
    right: 0px;
    /* right: 200px; */

    transform: translateX(260px);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
    overflow: hidden;
}

.userbarOpen {
    z-index: 2;
    right: 0px;
    transform: translateX(0px);
    opacity: 1; 
}

.userbarCell {
    z-index: 2;
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);

    margin-bottom: 1px;

    transition: 0.2 ease-in-out;
}

.userbarCell:hover {
    background: #71c6ffa2;
}

.openUserbarIcon {
    font-size: 25px;
    background: yellow;

    position: fixed;
    top: 0;
    right: 0px;
    /* margin-right: 16px;
    position: relative; */
    /* top: 50%;
    transform: translateY(-50%) */
}

.openUserbarIcon:hover {
    cursor: pointer;
}

/* ====================== DOCK ====================== */
/* MARK: setup dock */
.dock {
    display: none;
}

.dockButton {
    display: none;
}

.dockIconButton {
    display: none;
}


/* ====================== MOBILE ====================== */

@media only screen and (max-width: 1024px) {

    /* MARK: Setup nav bar */
    nav.hide {
        top: -100px;
    
        position: fixed;
        overflow: hidden;
        padding: 0;
        transform: translate3d(0, -50px)
    }

	.searchButton {
		display: none;
	}

	.bookmarkButton {
		display: none;
	}

	.topNavBar input[type=text] {
		display: none;
	}

    #openSidebarButton {
        display: none;
    }

    /* MARK: setup dock */
    .dock {
        z-index: 0;
        width: 100%;
        height: 50px;
        background-color: white;

        position: fixed;
        bottom: 0px;
    
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    }

    .dockButtonContainer {
        /* background: violet; */
        width: 20%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dockButton {
        background: none;
        width: 55px;
        height: 100%;
        line-height: 10px;
        border: none;

        display: block;
        align-items: center;
        justify-content: center;
        padding: 0;
        
    }    

    .dockButtonIcon {
        display: block;
        font-size: 22px; 

        color: rgba(150, 150, 150, 1);
        margin-bottom: 6px;
        
    }

    .dockButton .fas {
        display: block;
        font-size: 22px; 

        color: rgba(150, 150, 150, 1);
        margin-bottom: 6px;
    }

    .dockButtonText {
        /* background: green; */
        width: 100%;
        height: 10px;
        font-family: Helvetica;
        font-size: 11px;
        color: rgba(150, 150, 150, 1);

        text-align: center;
    }

    .dock a {
        text-decoration: none;
    }

    .dock .current {
        color: rgba(190, 13, 33, 0.95);
        text-decoration: none;
    }

}

@media only screen and (max-width: 360px) {
    .coursePreview {
        height: 433.33px;
        width: 273.50px;
    }
}